@font-face {
  font-family: 'RobotoThin';
  src: url("../fonts/RobotoThin/3967.ttf");
}

@font-face {
  font-family: 'MgOpenModataRegular';
  src: url("../fonts/MgOpenModataRegular/MgOpenModataRegular.ttf");
}

@font-family {
  font-family: 'BigNoodleTitling';
  src: url("../fonts/BigNoodleTitling/7fonts.ru_big_noodle_titling.ttf");
}

body {
  font-family: 'BigNoodleTitling', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.section {
  padding: 50px 0;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  display: none;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: 0.09em;
  color: #686868;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1024px;
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;
}

.header-logo__img {
  height: 60px;
  margin-left: 1%;
}

.header_logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header_logo h1 {
  margin-left: 2%;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.header_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1%;
}

.header_menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_menu li {
  display: inline-block;
  font-size: 24px;
  text-align: center;
}

.header_menu li a {
  color: #686868;
  border-bottom: 1px solid transparent;
}

.header_menu a:hover {
  border-bottom: 1px solid #F5734C;
  color: #333333;
}

.main_slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  height: 100%;
}

.main_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #343434;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.main_slider__top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
}

.main_slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_slider h1 {
  font-size: 50px;
  color: #676767;
  text-align: center;
}

.main_slider h2 {
  font-size: 28px;
  color: #676767;
  text-align: center;
}

.flex-grow1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main_slider span {
  padding-bottom: 15px;
  color: #DCDCDD;
  text-align: center;
}

.default_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'BigNoodleTitling', sans-serif;
}

.about_us__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  height: 100%;
}

.default_main p {
  font-family: 'RobotoThin';
  text-align: center;
}

.about_us h1 {
  text-align: center;
}

.h1_img {
  text-align: center;
}

.about_p {
  padding-top: 30px;
}

.section_item {
  display: inline-block;
  background-color: #EAEAEA;
  width: 32%;
}

.section_item:last-child img {
  height: 50px;
}

.section_item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50%;
}

.section_item__top img {
  display: inline-block;
  vertical-align: middle;
  height: 70px;
}

.section_item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  height: 50%;
  overflow: hidden;
  padding: 0 4px;
}

.sections {
  width: 100%;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  padding-top: 50px;
}

.sections h2 {
  color: #6F6F6F;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 5px;
}

.section_1 {
  padding-top: 25px;
}

.section_2 {
  padding-top: 38px;
}

.section_3 {
  padding-top: 55px;
}

.main_watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 430px;
  background-color: #161E22;
  z-index: 1;
}

.women {
  height: 100%;
  width: 50%;
  background: url(../img/women.png) no-repeat;
  background-size: cover;
}

.watch {
  padding: 1%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.watch h1 {
  padding: 0 0 3% 0;
  text-align: center;
  font-size: 30px;
  color: #E6E6E6;
}

.watch p {
  text-align: center;
  margin: 0 0 5% 0;
  color: #434647;
}

.watch button {
  padding: 0 20px;
  background-color: #E74C3D;
  border: none;
  -webkit-box-shadow: 0 3px 2px #B01001;
  box-shadow: 0 3px 2px #B01001;
}

.watch button:hover {
  background-color: #E66256;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.watch button span {
  color: #E5E5E5;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.4;
  font-size: 1rem;
  overflow-wrap: normal;
}

.our_works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.who_we_are h1 {
  text-align: center;
}

.our_works ul {
  text-align: center;
  width: 100%;
}

.our_works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  height: 100%;
}

.default_p {
  padding: 30px 0 70px 0;
}

.who_we_are_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.example {
  width: 100%;
}

.example a:hover {
  border-bottom: 1px solid #F5734C;
  color: #333333;
}

.example ul li {
  display: inline-block;
  text-align: center;
  padding: 0 2.55% 0 2.55%;
}

.example a {
  color: #727272;
  text-transform: uppercase;
  font-size: 17px;
  border-bottom: 1px solid transparent;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery img {
  width: 33.31%;
  height: 300px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 200px;
  background-color: #1B1B1B;
}

.sponsors img {
  position: relative;
  top: 18px;
}

.sponsors .img_2 {
  position: relative;
  top: 32px;
}

.sponsors span {
  font-size: 24px;
  padding-right: 20px;
  font-family: 'MgOpenModataRegular', sans-serif;
  color: #EBEBEB;
}

.who_we_are__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  height: 100%;
  max-width: 100%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.who_we_are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.designer {
  height: 400px;
  width: 30%;
  margin-right: 3%;
  background-color: #EAEAEA;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.designer h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #3C3C3C;
  padding-top: 10px;
}

.designer span {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'RobotoThin';
  font-weight: bold;
  padding-top: 10px;
}

.social {
  padding: 10px 3px 0 0;
}

.img_designer {
  margin-top: 60px;
  border-radius: 100px;
  width: 60%;
}

.my-skills_wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.skill-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.meter_color {
  background-color: #e84c3d;
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill_name {
  font-size: 14px;
  text-transform: uppercase;
  width: 21%;
}

.meter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 1px  40px 0 60px;
}

.my_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  width: 70%;
  height: 400px;
  background-color: #EAEAEA;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.my_skills h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #3C3C3C;
  margin-bottom: 20px;
}

.my_skills p {
  margin-bottom: 20px;
  text-align: left;
}

.default {
  width: 100%;
  padding: 2% 0 0 0;
  text-align: left;
  text-transform: uppercase;
  color: #3C3C3C;
  font-weight: bold;
}

.ph {
  padding: 0;
}

.default img {
  vertical-align: middle;
}

.default b {
  padding-left: 20px;
}

.ph img {
  padding-left: 40px;
}

.il img {
  padding-left: 30px;
}

.sk img {
  padding-left: 76px;
}

.af img {
  padding-left: 10px;
}

.features {
  background-color: #161E22;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  height: 100%;
}

.header_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.header_features h1 {
  color: #F5F5F5;
}

.feature_title {
  text-align: center;
  margin-bottom: 45px;
}

.feature_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.feature_item {
  display: inline-block;
  width: 30%;
}

.feature_item_title {
  text-align: center;
  font-family: 'RobotoThin';
  font-size: 18px;
  color: #F5F5F5;
  margin-bottom: 10px;
}

.feature_item_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.feature_item_icon img {
  height: 56px;
}

.feature_item_sum {
  text-align: center;
  font-family: 'RobotoThin';
  font-size: 32px;
  color: #F5F5F5;
}

.blogs_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  height: 100%;
}

.blogs_item {
  display: inline-block;
  background-color: #EAEAEA;
  width: 32%;
  height: 400px;
}

.blogs_item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 65%;
}

.blogs_item__bottom {
  font-size: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  height: 30%;
  overflow: hidden;
}

.blogs_item__top img {
  height: 100%;
  width: 100%;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 45%;
}

.creative {
  margin-right: 4%;
}

.creative_1 {
  margin-right: 4%;
}

.default_creative {
  height: 400px;
  width: 300px;
  background-color: #EAEAEA;
}

.default_creative p {
  text-align: left;
  font-family: RobotoThin;
  font-size: 14px;
  padding: 0 5% 0 10%;
  overflow: hidden;
}

.default_creative h3 {
  font-size: 20px;
  color: #999999;
  padding: 20px 0 10px 0;
  text-align: center;
}

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #161E22;
}

.plan_inner {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  height: 100%;
}

.header_features {
  margin-bottom: 60px;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1240px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.defaul_margin__top {
  margin-top: 40px;
}

.plan-info__purchase button {
  padding: 8px 20px;
  margin: 45px 0;
  background-color: #F5734B;
  border: none;
  border-radius: 3px;
}

.plan-info__purchase button:hover {
  -webkit-box-shadow: 1px 2px 9px yellow;
  box-shadow: 1px 2px 9px yellow;
  cursor: pointer;
}

.plan-info__purchase button span {
  font-size: 14px;
  color: #FCE7E2;
  text-transform: uppercase;
}

.plan__title {
  background: #0e1316;
}

.plan__item {
  width: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.plan__item:hover {
  -webkit-box-shadow: 0 0 0 1px #F5734B;
  box-shadow: 0 0 0 1px #F5734B;
}

.plan__info {
  text-align: center;
  background: #1f282c;
  overflow: hidden;
}

.plan__info div {
  font-size: 18px;
  padding: 14px 0;
  color: #DEDFDF;
}

.plan_info__orange span {
  color: #D66745;
}

.plan-title__name {
  color: #fff;
  font-size: 18px;
  padding: 43px 0 10px 0;
  text-align: center;
}

.plan-title__price {
  color: #fff;
  font-size: 34px;
  padding: 0 85px 39px 85px;
  text-align: center;
}

.footer {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  background-color: #0B1114;
}

.footer h2 {
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer p {
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

#arrow_up:hover {
  cursor: pointer;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background-color: #A3A3A3;
}

#arrow_up {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  height: 60px;
  width: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 20px;
  right: 30px;
  background-color: #D0D0D0;
  border-radius: 4px;
  z-index: 99999;
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 750px;
  }
  .header_menu a {
    font-size: 18px;
  }
  .header_logo h1 {
    font-size: 30px;
  }
  .default img {
    width: 50%;
    height: 1px;
  }
  .main_slider__top h1 {
    font-size: 37px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 580px;
  }
  .header_logo h1 {
    font-size: 24px;
  }
  .header_logo {
    width: 50%;
  }
  .header-logo__img {
    height: 45px;
  }
  .header_menu {
    position: relative;
    width: 50%;
  }
  .header_menu li a {
    font-size: 18px;
    color: #686868;
    border: none;
  }
  .header_menu a:hover {
    color: #000;
    border: none;
  }
  #menu, label:before, label:after {
    content: " ";
    position: absolute;
    right: 0;
    width: 30px;
    height: 3px;
    background-color: #686868;
    border-radius: 2px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    z-index: 100;
  }
  label {
    padding: 38px 70px;
    position: absolute;
    z-index: 1;
    right: 0;
  }
  label:before {
    top: 40%;
  }
  label:after {
    top: 60%;
  }
  #menu {
    top: 50%;
    width: 30px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    z-index: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  #menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
  }
  #menu-toggle:checked + label:before {
    top: 50%;
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #menu-toggle:checked + label:after {
    top: 50%;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu-toggle:checked + label + #menu {
    top: 50%;
    left: 23%;
    width: 150px;
    height: auto;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    -webkit-transition: .3s ease .2s;
    transition: .3s ease .2s;
    z-index: 1;
    background-color: #EAEAEA;
  }
  #menu-toggle:checked + label + #menu li {
    pointer-events: all;
    font: 16pt 'Roboto', sans-serif;
    line-height: 2.3;
    opacity: 1;
    z-index: 2;
    -webkit-transition: .2s ease .3s;
    transition: .2s ease .3s;
  }
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
  }
  .my_skills {
    height: 350px;
    padding: 10px;
    width: 100%;
  }
  .designer {
    height: 350px;
    width: 30%;
  }
  .default img {
    width: 35%;
  }
  .basic {
    width: 130px;
  }
  .example a {
    font-size: 14.3px;
  }
  .blogs_item__top {
    padding-bottom: 4%;
  }
  .blogs_item__bottom h3 {
    padding: 4% 0;
  }
  .blogs_item {
    height: 370px;
    overflow: hidden;
  }
  #arrow_up img {
    width: 48px;
  }
  .main_slider__top h1 {
    font-size: 29.3px;
  }
  .main_slider__top h2 {
    font-size: 24px;
  }
  .default_prices {
    width: 130px;
  }
}

@media screen and (max-width: 608px) {
  .container {
    width: 480px;
  }
  .my_skills {
    padding: 10px;
    width: 100%;
  }
  .feature_item_title {
    font-size: 14px;
  }
  .sponsors span {
    font-size: 20px;
    padding: 0;
  }
  .default {
    height: 5%;
    font-size: 12px;
    text-align: center;
  }
  .designer {
    width: 40%;
    height: 300px;
  }
  .default {
    font-size: 12px;
  }
  .default img {
    width: 30%;
  }
  .ph img {
    padding-left: 22px;
  }
  .il img {
    padding-left: 15px;
  }
  .sk img {
    padding-left: 50px;
  }
  .af img {
    padding-left: 2px;
  }
  .default b {
    padding-left: 10px;
  }
  .sk b {
    padding-left: 10px;
  }
  .il b {
    padding-left: 10px;
  }
  .ph b {
    padding-left: 10px;
  }
  .section_item__top img {
    height: 55px;
  }
  .section_item:last-child img {
    height: 40px;
  }
  .section_item__bottom h2 {
    font-size: 17px;
  }
  .section_item__bottom p {
    font-size: 15.4px;
  }
  #menu-toggle:checked + label + #menu {
    top: 60%;
    left: 30%;
    width: 130px;
    height: auto;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    -webkit-transition: .3s ease .2s;
    transition: .3s ease .2s;
    z-index: 1;
    background-color: #EAEAEA;
  }
  .basic {
    width: 100%;
  }
  .default_prices {
    width: 100%;
  }
  .default_prices h4 {
    font-size: 12px;
  }
  .default_prices h3 {
    font-size: 19px;
  }
  .default_prices p {
    font-size: 13px;
  }
  .purchase {
    width: 100%;
  }
  .purchase span {
    font-size: 12px;
  }
  .blogs_item__bottom h3 {
    font-size: 18px;
    text-align: center;
  }
  .blogs_item__top {
    height: 50%;
  }
  .blogs_item__bottom p {
    font-size: 16px;
  }
  .blogs_item__bottom {
    height: 50%;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 320px;
  }
  .default_prices {
    width: 80px;
  }
  .basic {
    width: 80px;
  }
  .gallery img {
    height: 175px;
  }
  .example ul li {
    padding: 0 0 0 0.2px;
  }
  .example a {
    font-size: 12px;
  }
  .sponsors span {
    font-size: 14px;
  }
  .sum46 {
    padding: 10.9% 0;
  }
  .blogs_item__top img {
    height: 180px;
  }
  .blogs_item__top {
    height: 50%;
  }
  .blogs_item__bottom {
    height: 47%;
  }
  .blogs_item__bottom h3 {
    font-size: 15px;
    text-align: center;
  }
  .blogs_item__bottom p {
    font-size: 13px;
  }
  .default_prices h4 {
    font-size: 10px;
  }
  .main_slider__top {
    height: 350px;
  }
  .main_slider__top h1 {
    font-size: 22px;
  }
  .main_slider__top h2 {
    font-size: 19px;
  }
  .main_slider__bottom img {
    height: 35px;
  }
  .watch {
    width: 55%;
  }
  .plan {
    height: 500px;
  }
  .watch p {
    font-size: 14px;
  }
  .watch h1 {
    font-size: 20.5px;
  }
  .watch button {
    width: 100px;
  }
  .default_prices p {
    font-size: 10.5px;
  }
  .purchase span {
    font-size: 12px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .default_main {
    max-width: 320px;
  }
  .plan {
    min-width: 320px;
  }
  .features {
    max-width: 320px;
  }
  .main_watch {
    min-width: 320px;
  }
  .footer {
    max-width: 320px;
  }
  .gallery {
    max-width: 320px;
  }
  .clients {
    max-width: 320px;
  }
  .main_slider {
    min-width: 320px;
  }
  .header {
    max-width: 340px;
  }
  #menu-toggle:checked + label + #menu {
    top: 60%;
    left: 0;
    width: 130px;
    height: auto;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    -webkit-transition: .3s ease .2s;
    transition: .3s ease .2s;
    z-index: 1;
    background-color: #EAEAEA;
  }
}
