@font-face
	font-family: 'RobotoThin'
	src: url('../fonts/RobotoThin/3967.ttf')
@font-face
	font-family: 'MgOpenModataRegular'
	src: url('../fonts/MgOpenModataRegular/MgOpenModataRegular.ttf')
@font-family
    font-family: 'BigNoodleTitling'
    src: url('../fonts/BigNoodleTitling/7fonts.ru_big_noodle_titling.ttf')

body
	font-family: 'BigNoodleTitling', sans-serif


html 
    width: 100%
    height: 100%
    -webkit-font-smoothing: antialiased


[type="checkbox"]:not(:checked), [type="checkbox"]:checked 
	    display: none
	    

h1
  font-size: 2.4rem
  letter-spacing: 0.09em
  color: #686868
  text-transform: uppercase
  font-weight: bold

.container
	display: flex
	width: 1024px
	margin: 0 auto	
	height: 100%




a 
	text-decoration: none





.header
	 display: flex
	 justify-content: space-between
	 align-items: center
	 height: 140px
	 
.header-logo__img
	height: 60px
	margin-left: 1%


.header_logo
	display: inline-flex
	width: 40%
	align-items: center
	
.header_logo h1
	margin-left: 2%

.header__inner
	display: flex
	flex: auto


	

.header_menu 
	display: inline-flex
	width: 60%
	align-items: center
	margin-right: 1%
	

.header_menu ul
	width: 100%
	display: flex
	justify-content: space-between


.header_menu li
	display: inline-block
	font-size: 24px
	text-align: center

.header_menu li a
	color: #686868
	border-bottom: 1px solid transparent

.header_menu a:hover
	border-bottom: 1px solid #F5734C
	color: #333333

.main_slider__inner
	display: flex
	flex-flow: column wrap
	align-items: center
	flex: auto


.main_slider
	display: flex
	background-color: #343434
	height: 500px
	align-items: center
	justify-content: center
	text-align: center


.main_slider__top
	flex-flow: column wrap
	justify-content: center
	display: flex
	height: 75%

.main_slider__bottom
	display: flex
	flex-flow: column wrap
	justify-content: center
	height: 25%

.main_slider  h1
	font-size: 50px
	color: #676767
	text-align: center

.main_slider h2
	font-size: 28px
	color: #676767
	text-align: center

.flex-grow1
	display: flex
	flex-grow: 1

.main_slider span 
	padding-bottom: 15px
	color: #DCDCDD
	text-align: center

.default_main
    height: 500px
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center
    font-family: 'BigNoodleTitling', sans-serif

.about_us__inner
	display: flex
	flex-flow: column wrap
	align-items: center
	justify-content: center
	flex: auto
	height: 100%

.about_us
	height: 700px

.default_main p 
	font-family: 'RobotoThin'
	text-align: center




.about_us h1
	text-align: center

.h1_img
	text-align: center

.about_p
	padding-top: 30px

.section_item
	display: inline-block
	background-color: #EAEAEA
	width: 32%

.section_item:last-child img
	height: 50px

.section_item__top
	display: flex
	align-items: center
	justify-content: center
	height: 50%
	

.section_item__top img
	display: inline-block
	vertical-align: middle
	height: 70px

	

.section_item__bottom
	display: flex
	align-items: center
	justify-content: center
	flex-flow:  wrap
	height: 50%
	overflow: hidden
	padding: 0 4px


.sections
	width: 100%
	height: 210px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	text-align: center
	padding-top: 50px

.sections h2
	color: #6F6F6F
	text-transform: uppercase
	font-size: 18px
	padding-bottom: 5px





.section_1
	padding-top: 25px 

.section_2
	padding-top: 38px

.section_3
	padding-top: 55px

.main_watch
	display: flex
	align-items: center
	height: 430px
	background-color: #161E22
	//background: #161E22 url(../img/women.png) right 10% no-repeat 
	z-index: 1

.women
	height: 100%
	width: 50%
	background:  url(../img/women.png)  no-repeat 
	background-size: cover

.watch
	padding: 0 1%
	width: 50%
	display: flex
	flex-flow: wrap column
	justify-content: center
	align-items: center
	

.watch h1
	padding: 0 0 3% 0
	text-align: center
	font-size: 30px
	color: #E6E6E6

.watch p
	text-align: center
	margin: 0 0 5% 0
	color: #434647

.watch button
	height: 36px
	width: 140px
	background-color: #E74C3D
	border: none
	box-shadow: 0 3px 2px  #B01001

.watch button:hover
	background-color: #E66256
	transition: 1s
	cursor: pointer


.watch button span
	color: #E5E5E5
	font-size: 14px
	text-transform: uppercase
	font-weight: bold


	


.our_works
	height: 350px
	display: flex
	align-items: center
	justify-content: center

.who_we_are h1
	text-align: center



.our_works ul
	text-align: center
	width: 100%

.our_works__inner
	display: flex
	flex-flow: column wrap
	align-items: center
	justify-content: center
	flex: auto
	height: 100%

.default_p
	padding: 30px 0 70px 0

.who_we_are_top
	display: flex
	flex-flow: column wrap
	align-items: center
	justify-content: center


.example
	width: 100%


	



.example a:hover
	border-bottom: 1px solid #F5734C
	color: #333333

    
  


 
.example ul li
	display: inline-block
	text-align: center
	padding: 0 2.55% 0 2.55%

	

.example a
	color:  #727272
	text-transform: uppercase
	font-size: 17px
	border-bottom: 1px solid transparent


.gallery
	display: flex 
	flex-wrap: wrap
	justify-content: center

.gallery img
	width: 33.31%
	height: 300px

.clients
	display: flex
	align-items: center
	justify-content: center
	height: 200px
	background-color: #1B1B1B


.sponsors img
	position: relative
	top: 18px

.sponsors .img_2
	position: relative
	top: 32px

.sponsors span
	font-size: 24px
	padding-right: 20px
	font-family: 'MgOpenModataRegular', sans-serif
	color: #EBEBEB
	
.who_we_are__inner
	display: flex
	flex-flow: column wrap
	align-items: center
	justify-content: center
	flex: auto
	height: 100%
	max-width: 100%

.skills
	display: flex
	max-width: 100%
	justify-content: center
	align-items: center

.who_we_are
	display: flex
	height: 900px

.designer
	height: 400px
	width: 20%
	margin-right: 3%
	background-color: #EAEAEA
	text-align: center
	box-sizing: border-box



.designer h3
	text-transform: uppercase
	font-size: 20px
	font-weight: bold
	color: #3C3C3C
	padding-top: 10px

.designer span
	text-transform: uppercase
	font-size: 14px
	font-family: 'RobotoThin'
	font-weight: bold
	padding-top: 10px

.social
  padding: 10px 3px 0 0 

.img_designer
  margin-top: 60px
  border-radius: 100px
  width: 80%


.my_skills
	display: flex
	justify-content: center
	flex-flow: column wrap
	max-width: 70%
	height: 400px
	background-color: #EAEAEA
	padding: 25px
	box-sizing: border-box

.my_skills h3
	text-transform: uppercase
	text-align: center
	font-size: 32px
	font-weight: bold
	color: #3C3C3C
	margin-bottom: 20px

.my_skills p 
   margin-bottom: 20px
   text-align: left



.default
	width: 100%
	padding: 2% 0 0 0
	text-align: left
	text-transform: uppercase
	color: #3C3C3C
	font-weight: bold

.ph
	padding: 0
	


.default img
	vertical-align: middle
	width: 

.default b 
	padding-left: 20px

.ph img 
	padding-left: 40px

.il img
	padding-left: 30px

.sk img
	padding-left: 76px

.af img
	padding-left: 10px


.features
	height: 400px
	background-color: #161E22

.features__inner
	display: flex
	flex-flow: column wrap
	align-items: center
	justify-content: center
	flex: auto
	height: 100%



.header_features
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center 
    width: 100%

.header_features h1
	color: #F5F5F5

.feature_title
	text-align: center
	margin-bottom: 45px

.feature_list
	display: flex
	justify-content: space-between
	width: 100%

.feature_item
	display: inline-block
	width: 30%

.feature_item_title
	text-align: center
	font-family: 'RobotoThin'
	font-size: 18px
	color: #F5F5F5
	margin-bottom: 10px

	
.feature_item_icon
	display: flex
	justify-content: center
	align-items: center
	margin-bottom: 10px

.feature_item_icon img
	height: 56px

.feature_item_sum
	text-align: center
	font-family: 'RobotoThin'
	font-size: 32px
	color: #F5F5F5
	

	








.blogs
	height: 900px

.blogs_inner
	display: flex
	flex-flow: column wrap
	align-items: center
	justify-content: center
	flex: auto
	height: 100%

.blogs_item
	display: inline-block
	background-color: #EAEAEA
	width: 32%
	height: 100%


.blogs_item__top
	display: flex
	align-items: center
	justify-content: center
	height: 65%

.blogs_item__bottom
	font-size: 110%
	display: flex
	align-items: center
	justify-content: center
	flex-flow:  wrap
	height: 35%
	overflow: hidden

.blogs_item__top img
	height: 100%
	width: 100%



.blog
	display: flex
	justify-content: space-between
	width: 100%
	height: 45%


.creative
	margin-right: 4%

.creative_1
	margin-right: 4%
	
.default_creative
	height: 400px
	width: 300px
	background-color: #EAEAEA

.default_creative p
	text-align: left
	font-family: RobotoThin
	font-size: 14px
	padding: 0 5% 0 10%
	overflow: hidden

.default_creative h3
	font-size: 20px
	color: #999999
	padding: 20px 0 10px 0
	text-align: center



.plan
	height: 700px
	background-color: #161E22
	
.plan_inner
	max-width: 100%
	display: flex
	flex-flow: column wrap
	align-items: center
	justify-content: center
	flex: auto
	height: 100%
	
.default_price
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	margin-top: 5%

.default_prices
	margin-left: 1%
	text-align: center
	width: 260px
	background-color: #0D1215

.default_prices h3
	color: #FFFFFF
	font-size: 34px
	margin-top: 2%

.default_prices h4
	color: #FFFFFF
	font-size: 16px
	text-transform: uppercase
	margin-top: 10%

.basic
	max-height: 327.5px
	background-color: #1E272B

.first_p
	padding-top: 15%

.number
 	color: #FFFFFF

.basic p
	color: #DEDFDF
	margin-top: 7%

.number_orange
	color: #D66745

.purchase
	font-size: 14px
	padding: 8px 20px 8px 20px
	margin: 10% 0
	text-transform: uppercase
	color: #FCE7E2
	background-color: #F5734B
	border: none
	border-radius: 3px

.basic button:hover
	box-shadow: 1px 4px 10px yellow
	cursor: pointer

.footer
	height: 210px
	display: flex
	justify-content: center
	align-items: center
	flex-flow: column wrap
	background-color: #0B1114


.footer h2
	font-size: 22px
	text-transform: uppercase
	color: #FFFFFF
	font-family: 

.footer p 
	font-size: 14px
	text-transform: uppercase
	color: #FFFFFF

#arrow_up:hover
 cursor: pointer
 transition: 1.5s
 background-color: #A3A3A3


#arrow_up
	display: none
	padding: 2px 1px 1px 1px 
	position: fixed
	bottom: 20px
	right: 30px
	background-color: #D0D0D0
	border-radius: 4px
	z-index: 99999
	opacity: 0.8
	
@media screen and (max-width: 1024px)

	.container
		 width: 750px
	.header_menu a
		font-size: 18px
	.header_logo h1
		font-size: 30px
	.default img
		 width: 50%
		 height: 1px
	.main_slider__top h1
		 font-size: 37px


@media screen and (max-width: 768px)
	.container
		width: 580px
	.header_logo h1
		font-size: 24px
	.header_logo
		width: 50%
	.header-logo__img
		height: 45px
	.header_menu
		position: relative
		width: 50%
	.header_menu li a
		font-size: 18px
		color: #686868
		border: none
		
	.header_menu a:hover
		color: #000
		border: none
	
	#menu, label:before, label:after 
	    content: " "
	    position: absolute
	    right: 0
	    width: 30px
	    height: 3px
	    background-color: #686868
	    border-radius: 2px
	    transition: .5s ease
	    z-index: 100


	label 
	    padding: 38px 70px
	    position: absolute
	    z-index: 1
	    right: 0

	label:before
	  top: 40%
	label:after
	  top: 60%

	#menu 
	    top: 50%
	    width: 30px
	    transition: .2s ease
	    z-index: 0
	    right: 0
	    flex-flow: column 

	#menu li
	    line-height: 0.5
	    pointer-events: none
	    opacity: 0

	

	#menu-toggle:checked + label:before 
	    top: 50%
	    right: 0
	    transform: rotate(-45deg)

	#menu-toggle:checked + label:after 
	    top: 50%
	    right: 0
	    transform: rotate(45deg)

	#menu-toggle:checked + label + #menu 
	    top: 50%
	    left: 23%
	    width: 150px
	    height: auto
	    box-shadow: 0 2px 5px rgba(0,0,0,0.26)
	    transition: .3s ease .2s
	    z-index: 1
	    background-color: #EAEAEA

	#menu-toggle:checked + label + #menu li 
	    pointer-events: all
	    font: 16pt 'Roboto', sans-serif
	    line-height: 2.3
	    opacity: 1
	    z-index: 2
	    transition: .2s ease .3s


	[type="checkbox"]:not(:checked), [type="checkbox"]:checked 
	    display: none
	    
	.my_skills
		height: 350px
		padding: 10px

	.my_skills p
		width: 100%
	.designer
		height: 350px
		width: 30%
	.default img
		width: 35%
	.basic
		width: 130px
	.example a
		font-size: 14.3px
	.blogs_item__top
		padding-bottom: 4%
	.blogs_item__bottom h3
		padding: 4% 0
	.blogs_item
		height: 370px
		overflow: hidden
	#arrow_up img
		width: 48px
	.main_slider__top h1
		font-size: 29.3px
	.main_slider__top h2
		font-size: 24px
	.default_prices
		width: 130px

@media screen and (max-width: 608px)
	.container
		width: 480px
	.my_skills
		padding: 10px
	.feature_item_title
		font-size: 14px
	

	.sponsors span
		font-size: 20px
		padding: 0
		
	.default
		height: 5%
		font-size: 12px
		text-align: center
	.my_skills
		width: 100%
		height: 300px
	.designer
		width: 40%
		height: 300px
	.default
		font-size: 12px
	.default img
		width: 30%
	.ph img
		padding-left: 22px
	.il img
		padding-left: 15px
	.sk img
		padding-left: 50px
	.af img
		padding-left: 2px
	.default b
		padding-left: 10px
	.sk b
		padding-left: 10px
	.il b
		padding-left: 10px
	.ph b
		padding-left: 10px
	.section_item__top img
		height: 55px
	.section_item:last-child img
		height: 40px
	.section_item__bottom h2
		font-size: 17px
	.section_item__bottom p
		font-size: 15.4px
	
	#menu-toggle:checked + label + #menu 
	    top: 60%
	    left: 30%
	    width: 130px
	    height: auto
	    box-shadow: 0 2px 5px rgba(0,0,0,0.26)
	    transition: .3s ease .2s
	    z-index: 1
	    background-color: #EAEAEA
	.basic
		width: 100%
	.default_prices
		width: 100%
	.default_prices h4
		font-size: 12px
	.default_prices h3
		font-size: 19px
	.default_prices p 
		font-size: 13px
	.purchase
		width: 100%
	.purchase span
		font-size: 12px
	.blogs_item__bottom h3
		font-size: 18px
		text-align: center
	.blogs_item__top
		height: 50%
	.blogs_item__bottom p
		font-size: 16px
	.blogs_item__bottom
		height: 50%


@media screen and (max-width: 504px)
	.default_prices
		width: 100px
	.basic
		width: 100px
	.plan
		min-width: 500px
	.features
		min-width: 500px
	.main_watch
		min-width: 500px
	.footer
		min-width: 500px
	.gallery
		min-width: 500px
	.clients
		min-width: 500px
	.main_slider
		min-width: 500px
	.header
		min-width: 480px
	.default_main
		min-width: 500px
	
@media screen and (max-width: 360px)
	.container
		width: 320px
	.default_prices
		width: 80px
	.basic
		width: 80px
	.gallery img
		height: 175px
	.example ul li
		padding: 0 0 0 0.2px
	.example a
		font-size: 12px
	.sponsors span
		font-size: 14px
	.sum46
		padding: 11% 0
	.blogs_item__top img
		height: 180px
	.blogs_item__top
		height: 50%
	.blogs_item__bottom
		height: 47%
	.blogs_item__bottom h3
		font-size: 15px
		text-align: center
	.blogs_item__bottom p
		font-size: 13px
	.default_prices h4
		font-size: 10px
	.main_slider__top
		height: 350px
	.main_slider__top h1
		font-size: 22px
	.main_slider__top h2
		font-size: 19px
	.main_slider__bottom img
		height: 35px
	.watch
		width: 55%
	.plan
		height: 500px
	.watch p
		font-size: 14px
	.watch h1
		font-size: 20.5px
	.watch button
		width: 100px
	.default_prices p
		font-size: 10.5px
	.purchase span
		font-size: 12px
		text-align: left
		display: flex
		justify-content: center
	.default_main
		min-width: 360px
	.plan
		min-width: 360px
	.features
		min-width: 360px
	.main_watch
		min-width: 360px
	.footer
		min-width: 360px
	.gallery
		min-width: 360px
	.clients
		min-width: 360px
	.main_slider
		min-width: 360px
	.header
		min-width: 340px
	#menu-toggle:checked + label + #menu 
	    top: 60%
	    left: 0
	    width: 130px
	    height: auto
	    box-shadow: 0 2px 5px rgba(0,0,0,0.26)
	    transition: .3s ease .2s
	    z-index: 1
	    background-color: #EAEAEA

